.profile h2 {
    text-align: center;
    color: rgba(209, 209, 209, 0.795);
    margin-top: 0.7em;
}

.profileInfo {
    background-color: #eee;
    border-radius: 1.2em;
    max-width: 1400px;
    margin: 0 auto;
    padding: 2.5em;
    margin-top: 2.5em;
}

.profileInfo h3 {
    text-align: center;
}

.addedBooks {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.noBooks {
    text-align: center;
    font-size: 1.2em;
    margin-top: 1.5em;
    text-transform: uppercase;
}