.headerContainer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: var(--bs-body-bg);
    opacity: 0.64;
}

.brandContainer {
    display: flex;
    align-items: center;
}

.logoContainer {
    display: flex;
    align-items: center;
}

.logo {
    height: 40px;
}

.siteNavbar {
    display: flex;
    align-items: center;
}

.navLink {
    margin-left: 20px;
    text-decoration: none;
    color: inherit;
    font-size: 16px;
}

.user,
.guest {
    display: flex;
    align-items: center;
}


.user .navLink,
.guest .navLink {
    margin-left: 20px;
}